p{
    margin:0;
}

img{
    width:50%;
}

.item{
    display:flex;
    flex-direction:row;
}
.caption__container{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding:1em;
    width:50%;
}
.caption__meta{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.pagination{
    align-self:center;
    position:relative !important;
}
.pagination__dot{
    border-radius:50%;
    background:grey;
    width:0.5em;
    height:0.5em;
    display:inline-block;
}
